@import "variables.css";

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: var(--roboto);
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 750px;
}

.mt{
    margin-top: 130px;
}

header{
    height: 60px;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    background-color: var(--bg-color);
    width: 100%;
}

.img-header{
    align-items: center;
    display: flex;
    height: 100%;
    line-height: 100%;
    font-size: 20px;
    font-weight: 500;
    color: var(--title-color);
    letter-spacing: 0.2px;
}

.img-header img{
    width: 37px;
    height: auto;
    margin-right: 16px;
}

.count{
    color: var(--text-color);
    font-size: 15px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--white-color);
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--gray-color); 
}

@media (min-width: 750px){
    
    header{
        height: 70px;
    }

    .img-header{
        font-size: 28px;
    }

    .img-header img{
        width: 40px;
        margin-right: 18px;
    }

    .count{
        font-size: 18px;
        line-height: 45px;
        width: 45px;
        height: 45px;
        border-radius: 30px;
    }

    ::-webkit-scrollbar {
        width: 8px;
        border-radius: 8px;
    }

}