:root{
    --primary-color: #81d4fa;
    --secondary-color: #29b6f6;
    --text-color: #383838;
    --dark-color: #606060;
    --title-color: #181818;
    --gray-color: #9E9E9E;
    --bg-color: #ffffff;
    --white-color: #f3f3f3;
    --roboto: 'Roboto', sans-serif;
    --openSans: 'Open Sans', sans-serif;
}